.semi-donut {
  --percentage: 0;
  --fill: #ff0;
  width: 250px;
  height: 125px;
  position: relative;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  overflow: hidden;
  /* color: var(--fill); */
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;

  &:after {
    content: '';
    width: 250px;
    height: 250px;
    border: 35px solid;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
    animation: fillAnimation 1s ease-in;
  }
}

@keyframes fillAnimation {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(135deg);
  }
}

@keyframes fillGraphAnimation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }
}

#progresoOKRS {
  opacity: 0.3;
  z-index: 2;
  margin-top: -75px;
  height: 70px;
  margin-bottom: -20px;
}

