body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    font-size: 14px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.icoLat{
    margin-right: 10px; 
}

.separador{
    font-weight: bold;
    color: #2196f3;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #363636;
    transition: all 0.3s;
    background-color: #ffffff;
    border-right: 1px solid #e3efee;
}

#sidebar.active {
    margin-left: -260px;
}

#sidebar .sidebar-header {
    padding: 20px 0px;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 6px 10px;
    font-size: 13px;
    display: block;
}

#sidebar ul li a:hover {
    /*background: #03a9f4;*/
    color: #313436;
}

.fa_lateral{
    background-color: #e53e2c;
    padding: 8px;
    border-radius: 50px;
    color: #ffffff;
    width: 31px;
    height: 31px;
    text-align: center;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff !important;
    background: #e73f12;
    border-radius: 0px 30px 30px 0px;
    margin: 0px 10px;
    margin-left: 0px;
}

a[data-toggle="collapse"] {
    position: relative;
    color: #313436;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 13px !important;
    /*padding-left: 30px !important;*/
}


a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 260px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -260px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 260px);
    }
    #sidebarCollapse span {
        display: none;
    }
}